<!DOCTYPE html>
<html>
  <head>
    <title>Businesses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    
    <!-- Link To Stylesheet, Custom Stylesheet & Icons --> 
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css" media="screen,projection" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
     
  </head>
<body>
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper">
       <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="waves-effect" href="/">Home</a></li>
            <li><a class="waves-effect" href="/product">Products</a></li>
            <li><a class="waves-effect" href="/select">Selection</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
          </div>
      </nav>
</div>
      