<%- include partials/header.ejs %>
<div class="container">
<h1>Product</h1>
    	<table class="striped">
    		<thead>
    			<tr>
    				<th>Type</th>
                    <th>Color</th>
    			</tr>
    		</thead>
    		<tbody>    
    		<% for (var i=0; i < products.length; i++) { %>
    			<tr>
                    <td>
                    <%= products[i].Type %>
                    </td>
                    <td>
                    <%= products[i].color %>
    			    </td>
                </tr>
    		<% } %>
    		</tbody>
    	</table>
        </div>
<%- include partials/footer.ejs %>